body {
  margin: 0;
  padding-bottom: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: #41b308; /* Set background color */
  overflow: hidden; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;/* Hide overflow content */
}

.navbar .title{
  padding-left: 20px;
  color: #ddd;
}

.navbar .navItems {
  padding-right: 20px;
}
/* Style the links inside the navbar */
.navbar .navItems li {
  float: left; /* Align the items to the left side */
  display: block; /* Display items as blocks */
  color: #f2f2f2; /* Set text color */
  text-align: center; /* Center text */
  padding: 14px 16px; /* Add some padding to the items */
  text-decoration: none;
  margin: 0 5px; /* Remove underline from links */
}

/* Change the color of the links when the mouse pointer is over them */
.navbar .navItems li:hover {
  background-color: #ddd;
  color: black;
}

.colorBand{
  margin-top:40px;
  width: 100%;
  background: linear-gradient(to bottom, #ffffff, #d9fec7);
  height: 70px;
}
.colorBand2{
  margin-bottom:30px;
  width: 100%;
  background: linear-gradient(to top, #ffffff, #d9fec7);
  height: 70px;
}
.one{
  display: flex;
  justify-content: center;
}
.introSection{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  width: 70%;
}

.introSection .introText{
  text-align: left;
}

.introSection img{
  height: 250px;
  width: 350px;
  margin-left: 20px;
}

.two{
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.functionality{
  width: 70%;
}

.two .parent{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.two .parent div{
  margin:10px;
}
.two .parent img{
  width: 200px;
  height: 100px;
}